.a11y-bg-dark {
  background-color: get-color('dark');
  color: get-color('light');

  [aria-current] {
    border-bottom: 2px solid get-color('light');
  }
}

.a11y-bg-light {
  --focus-color: #{get-color('dark')};

  background-color: get-color('light');
  color: get-color('dark');

  [aria-current] {
    border-bottom: 2px solid get-color('dark');
  }
}

.a11y-bg-primary {
  background-color: get-color('primary');
  color: get-color('light');

  [aria-current] {
    border-bottom: 2px solid get-color('light');
  }
}

.a11y-bg-secondary {
  background-color: get-color('secondary');
  color: get-color('dark');

  [aria-current] {
    border-bottom: 2px solid get-color('dark');
  }
}
