{% extends "layouts/base.html" %}
{% set headerCol = "light" %}
{% set pageHeaderColor = "primary" %}
{% set pageHeaderTitle = title %}
{% set pattern = "dark" %}
{% set postListItems = pagination.items %}

{% set pageCriticalStyles = ['css/blog.css'] %}

{% block content %}
  <article class="blog">
    {% include "partials/page-title.html" %}
    <div class="grid-12-col wrapper">

      {% set latest = collections.blog[0] %}
      <section class="[ latest ] [ flow panel ]">
        <h2 class="section__heading">Latest</h2>
        <h3 class="latest__heading"><a href="{{ latest.url }}">{{ latest.data.title }}</a></h3>
        <time datetime="{{ latest.data.date }}">{{ latest.data.date | dateFilter("full") }}</time>
        <p class="latest__excerpt">{{ latest.data.excerpt }}</p>
        {% set tags = latest.data.tags %}
        {% include "partials/tags.html" %}
      </section>
      <img class="latest__image" src="{{ latest.data.featureImage }}" alt="" />

      {# divider utlility vertical #}
      {% set levelPosts =  collections['level up'] %}
      {% if levelPosts %}
        <div class="[ category ] [ panel ]">
          <h2>Level Up</h2>
          <ul class="flow flow-space-400">
            {% for post in levelPosts %}
                <li class="flow">
                  <a href="{{ post.url }}">
                    <h3>{{ post.data.title }}</h3>
                  </a>
                  <time datetime="{{ post.data.date }}">{{ post.data.date | dateFilter("full") }}</time>
                  {% set tags = post.data.tags %}
                  <div class="flow-space-100">
                    {% include "partials/tags.html" %}
                  </div>
                </li>
            {% endfor %}
          </ul>
          {# divider utility horizontal #}
        </div>
      {% endif %}

      {% set startupPosts =  collections['startup'] %}
      {% if startupPosts %}
        <div class="category">
          <h2>Startup</h2>
          <ul class="flow flow-space-400">
            {% for post in startupPosts %}
              <li class="flow">
                <a href="{{ post.url }}">
                  <h3>{{ post.data.title }}</h3>
                </a>
                <time datetime="{{ post.data.date }}">{{ post.data.date | dateFilter("full") }}</time>
                {% set tags = post.data.tags %}
                <div class="flow-space-100">
                  {% include "partials/tags.html" %}
                </div>
              </li>

            {% endfor %}
          </ul>
          {# divider utility horizontal #}
        </div>
      {% endif %}

      {% set soapboxPosts =  collections['soapbox'] %}
      {% if soapboxPosts %}
        <div class="[ category ] [ panel ]">
          <h2>Soapbox</h2>
          <ul class="flow flow-space-400">
            {% for post in soapboxPosts %}
              <li class="flow">
                <a href="{{ post.url }}">
                  <h3>{{ post.data.title }}</h3>
                </a>
                <time datetime="{{ post.data.date }}">{{ post.data.date | dateFilter("full") }}</time>
                {% set tags = post.data.tags %}
                <div class="flow-space-100">
                  {% include "partials/tags.html" %}
                </div>
              </li>
            {% endfor %}
          </ul>
          {# divider utility horizontal #}
        </div>
      {% endif %}

      <aside>
        <h2>Archives</h2>
        <ul>
          {% for tag in collections.tagList %}
            <li>{{ collections[ tag ] | length }} {{ tag }}</li>
          {% endfor %}
        </ul>
      </aside>
    </div>
  </article>
{% endblock %}
