{% extends "layouts/base.njk" %}
{% set headerCol = "light" %}
{% set pageHeaderColor = "primary" %}
{% set pageHeaderTitle = title %}
{% set pattern = "dark" %}
{% set postListItems = pagination.items %}

{% set pageCriticalStyles = ['css/blog.css'] %}

{% block content %}
	{% include "partials/page-title.njk" %}
	<div class="[ blog ] [ wrapper ]">

		{% set latest = collections.blog.slice(-1).pop() %}
		<section class="[ flow panel ]" aria-labelledby="section-heading">
			<article class="[ latest ] [ flow ]">
				<div class="[ article__meta ] [ flow ]">
					<div>
						<span class="[ number--primary outline ]" aria-hidden="true">
							{{ collections.blog | length }}
						</span>
						<h2 id="section-heading">Latest</h2>
					</div>
					<h3 class="latest__heading">
						<a href="{{ latest.url }}">{{ latest.data.title }}</a>
					</h3>
					<time datetime="{{ latest.data.date }}" >{{ latest.data.date | dateFilter("full") }}</time>

					{% set tags = latest.data.tags %}
					{% include "partials/tags.njk" %}
				</div>
				<div class="[ article__content ] [ flow ]">
					{% image latest.data.featureImage, latest.data.featureImageAlt, "latest__image", "(min-width: 62em) 612px, 100vw" %}

					<p class="latest__excerpt">
						{% if latest.data.excerpt %}
							{{ latest.data.excerpt }}
						{% else %}
							{{ latest.data.metaDesc }}
						{% endif %}
					</p>
				</div>
			</article>
		</section>

		{% set tag = 'level up' %}
		{% set posts = helpers.getSiblingContent(collections[tag], latest, 5) %}
		{% include "partials/collections.njk" %}

		{% set tag = 'startup' %}
		{% set posts = helpers.getSiblingContent(collections[tag], latest, 5) %}
		{% include "partials/collections.njk" %}

		{% set tag = 'soapbox' %}
		{% set posts = helpers.getSiblingContent(collections[tag], latest, 5) %}
		{% include "partials/collections.njk" %}

		<section class="panel aside">
			<h2 id="arc">Archives</h2>
			<hr class="divider" />
			<ul class="list-archives" aria-labelledby="arc">
				{% for tag in collections.tagList %}
					<li class="[ divider-bottom ] [ panel ] [ panel-space-14 ]">
						<a href="/tag/{{ tag | slug }}/">
							<span class="number--secondary">{{ collections[ tag ] | length }}</span>
							<span class="tag">{{ tag }}</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		</section>
	</div>
{% endblock %}
