{% extends "layouts/base.html" %}
{% set headerCol = "light" %}
{% set pageHeaderColor = "primary" %}
{% set pageHeaderTitle = title %}
{% set pattern = "dark" %}
{% set postListItems = pagination.items %}

{% set pageCriticalStyles = ['css/blog.css'] %}

{% block content %}
  <article>
    {% include "partials/page-title.html" %}
    <div class="grid-12-col flow panel wrapper">
      <ul>
        {% for item in postListItems %}
          <li>
            <a href="{{ item.url }}">{{ item.data.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </article>
{% endblock %}
