{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/cv.css'] %}
{% set headerCol = "secondary" %}
{% set pageHeaderColor = "dark" %}
{% set pageHeaderTitle = title %}
{% set pattern = "dark" %}

{% block content %}
  <article>
    {% include "partials/page-title.html" %}
    <div class="[ cv__timeline ] [ wrapper ]">
      <section class="flow flow-space-400">
        <h2 id="skill"><span class="bullseye solid"></span>Expertise</h2>
        <ul aria-labelledby="skill" class="flow flow-space-400">
          {% for skill in skills %}
            <li><span class="bullseye outline"></span>{{ skill }}</li>
          {% endfor %}
        </ul>

        <h2 id="language"><span class="bullseye solid"></span>Languages</h2>
        <ul aria-labelledby="language" class="flow flow-space-400">
          {% for language in languages %}
            <li><span class="bullseye outline"></span>{{ language }}</li>
          {% endfor %}
        </ul>

        <h2 id="framework"><span class="bullseye solid"></span>Frameworks</h2>
        <ul aria-labelledby="framework" class="flow flow-space-400">
          {% for framework in frameworks %}
            <li><span class="bullseye outline"></span>{{ framework }}</li>
          {% endfor %}
        </ul>
      </section>

      <section class="flow flow-space-400">
        <h2 id="work-ex"><span class="bullseye solid"></span>Work Experience</h2>
        <dl aria-labelledby="work-ex" class="flow">
          {% for job in collections.cv_jobs %}
            <dt class="term--primary">
              <span class="bullseye outline"></span>{{ job.data.name}}
            </dt>
            <dt class="term--meta">
              <div>
                {{ job.data.date | dateFilter }} - {{job.data.endDate | dateFilter
                }}
              </div>
              <div>{{ job.data.position }}</div>
            </dt>

            {% for deliverable in job.data.deliverables%}
              <dd><span class="bullseye bullet"></span>{{ deliverable }}</dd>
            {% endfor %}
          {% endfor %}
        </dl>
      </section>

      <section class="flow flow-space-400">
        <h2 id="education"><span class="bullseye solid"></span>Education</h2>
        <dl aria-labelledby="education" class="flow">
          {% for course in collections.cv_education %}
            <dt class="term--primary">
              <span class="bullseye outline"></span>{{ course.data.course}}
            </dt>
            <dt class="term--meta">
              <div>
                {{ course.data.provider }},
                <span class="no-wrap">{{ course.data.date | dateFilter }}</span>
              </div>
            </dt>
            <dd>
              <span class="bullseye bullet"></span>{{ course.templateContent | safe
              }}
            </dd>
          {% endfor %}
        </dl>
      </section>

      <section class="flow flow-space-400">
        <h2 id="talks"><span class="bullseye solid"></span>Talks</h2>
        <dl aria-labelledby="talks" class="flow">
          {% for talk in collections.cv_talks %}
            <dt class="term--primary">
              <span class="bullseye outline"></span>
              {% if talk.data.link %}
              <a href="{{ talk.data.link}}">{{ talk.data.title}}</a>
              {% else %} {{ talk.data.title}} {% endif %}
            </dt>
            <dt class="term--meta">
              {{ talk.data.event }},
              <span class="no-wrap">{{ talk.data.date | dateFilter }}</span>
            </dt>

            <dd>
              <span class="bullseye bullet"></span>
              <div class="flow flow-space-400">
                {{ talk.templateContent | safe }}
              </div>
            </dd>
          {% endfor %}
        </dl>
      </section>

      <section class="flow flow-space-400">
        <h2 id="awards">
          <span class="bullseye solid"></span>Honours and Awards
        </h2>
        <dl aria-labelledby="awards" class="flow">
          {% for award in collections.cv_awards %}
            <dt class="term--primary">
              <span class="bullseye outline"></span>{{ award.data.award}}
            </dt>
            {% for detail in award.data.details%}
              <dd><span class="bullseye bullet"></span>{{ detail }}</dd>
            {% endfor %}
          {% endfor %}
        </dl>
      </section>
    </div>
  </article>
{%endblock %}
