{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/cv.css'] %}
{% set headerCol = "secondary" %}
{% set pageHeaderColor = "dark" %}
{% set pageHeaderTitle = title %}

{% block content %}
<article>
  {% include "partials/page-title.html" %}
  <div class="[ cv__timeline ] [ wrapper ]">
    <section class="flow flow-space-400">
      <h2 id="skill" class="cv__heading"><span class="bullseye solid"></span>Expertise</h2>
      <ul aria-labelledby="skill" class="flow flow-space-400">
        {% for skill in skills %}
          <li><span class="bullseye outline"></span>{{ skill }}</li>
        {% endfor %}
      </ul>


      <h2 id="language" class="cv__heading"><span class="bullseye solid"></span>Languages</h2>
      <ul aria-labelledby="language" class="flow flow-space-400">
        {% for language in languages %}
          <li><span class="bullseye outline"></span>{{ language }}</li>
        {% endfor %}
      </ul>


      <h2 id="framework" class="cv__heading"><span class="bullseye solid"></span>Frameworks</h2>
      <ul aria-labelledby="framework" class="flow flow-space-400">
        {% for framework in frameworks %}
          <li><span class="bullseye outline"></span>{{ framework }}</li>
        {% endfor %}
      </ul>

    </section>
    <section class="flow flow-space-400">
      <h2 id="work-ex" class="cv__heading"><span class="bullseye solid"></span>Work Experience</h2>
      <dl aria-labelledby="work-ex" class="flow flow-space-400">
        {% for job in collections.jobs %}
          <dt><span class="bullseye outline"></span>{{ job.data.name}}</dt>
          <dt>{{ job.data.date | dateFilter }} - {{job.data.endDate | dateFilter }}</dt>
          <dt>{{ job.data.title }}</dt>
          {% for deliverable in job.data.deliverables%}
            <dd><span class="bullseye"></span>{{ deliverable }}</dd>
          {% endfor %}
        {% endfor %}
      </dl>
    </section>
  </div>
</article>
{%endblock %}
