{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/cv.css'] %}
{% set headerCol = "secondary" %}
{% set pageHeaderColor = "dark" %}
{% set pageHeaderTitle = title %}

{% block content %}
<article>
  {% include "partials/page-title.html" %}
  <div class="[ cv__timeline ] [ wrapper ]">
    <section class="flow flow-space-400">
      <h2 id="skill" class="cv__heading"><span class="bullseye solid"></span>Expertise</h2>
      <ul aria-labelledby="skill" class="flow flow-space-400">
        {% for skill in skills %}
          <li><span class="bullseye outline"></span>{{ skill }}</li>
        {% endfor %}
      </ul>


      <h2 id="language" class="cv__heading"><span class="bullseye solid"></span>Languages</h2>
      <ul aria-labelledby="language" class="flow flow-space-400">
        {% for language in languages %}
          <li><span class="bullseye outline"></span>{{ language }}</li>
        {% endfor %}
      </ul>

      <h2 id="framework" class="cv__heading"><span class="bullseye solid"></span>Frameworks</h2>
      <ul aria-labelledby="framework" class="flow flow-space-400">
        {% for framework in frameworks %}
          <li><span class="bullseye outline"></span>{{ framework }}</li>
        {% endfor %}
      </ul>
    </section>

    <section class="flow flow-space-400">
      <h2 id="work-ex" class="cv__heading"><span class="bullseye solid"></span>Work Experience</h2>
      <dl aria-labelledby="work-ex" class="flow">
        {% for job in collections.jobs %}
          <dt class="term--primary"><span class="bullseye outline"></span>{{ job.data.name}}</dt>
          <dt class="term--meta">
            <div>{{ job.data.date | dateFilter }} - {{job.data.endDate | dateFilter }}</div>
            <div>{{ job.data.position }}</div>
          </dt>

          {% for deliverable in job.data.deliverables%}
            <dd><span class="bullseye bullet"></span>{{ deliverable }}</dd>
          {% endfor %}
        {% endfor %}
      </dl>
    </section>

    <section class="flow flow-space-400">
      <h2 id="education" class="cv__heading"><span class="bullseye solid"></span>Education</h2>
      <dl aria-labelledby="education" class="flow">
        {% for course in collections.education %}
          <dt class="term--primary"><span class="bullseye outline"></span>{{ course.data.course}}</dt>
          <dt class="term--meta">
            <div>{{ course.data.provider }}</div>
            <div>{{ course.data.date | dateFilter }}</div>
          </dt>
            <dd><span class="bullseye bullet"></span>{{ course.templateContent | safe }}</dd>
        {% endfor %}
      </dl>
    </section>
  </div>
</article>
{%endblock %}
