{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/home.css'] %}
{% set headerCol = "primary" %}
{% set headerType = "home" %}

{% block content %}
<article>
  {% include "partials/page-title.html" %}
  <div class="[ article__content ] [ panel ]">
    <div class="[ intro ] [ flow panel wrapper ]">
      {% include "partials/pullquote.html" %}
      {% imageShortcode "src/images/nathalie_christmann_cooper.jpg", "me laughing" %}
    </div>
    <div class="[ main-content ] [ flow panel wrapper ]">{{ content | safe }}</div>
  </div>
</article>
{% endblock %}
