{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/home.css'] %}
{% set headerCol = "primary" %}
{% set headerType = "home" %}

{% block content %}
<article>
  <header class="[ panel a11y-bg-secondary ]">
    <h1 class="wrapper">{{ title }}</h1>
  </header>
  <div class="[ article__content ] [ panel ]">
    <div class="[ intro ] [ flow panel wrapper ]">
      {% include "partials/pullquote.html" %}
      <img src="/images/nathalie_christmann_cooper.jpg" alt="me laughing" loading="lazy"/>
    </div>
    <div class="[ main-content ] [ flow panel wrapper ]">{{ content | safe }}</div>
  </div>
</article>
{% endblock %}
