{% extends "layouts/base.html" %} {% set headerCol = "light" %} {% set
pageCriticalStyles = ['css/post.css'] %} {% set pageHeaderColor = "primary" %}
{% set pageHeaderTitle = title %} {% set pattern = "dark" %} {% set
postListItems = pagination.items %} {% block content %}
<article class="post">
  {% include "partials/page-title.html" %}
  <div class="[ panel patterned-{{ pattern }} a11y-bg-{{ headerCol }} ]">
    <div class="wrapper">{% include "partials/tags.html" %}</div>
  </div>

  <div class="post__content post__grid grid-12-col flow wrapper">
    {% if featureImage %} {% imageShortcode featureImage, featureImageAlt,
    "feature", "(min-width: 62em) 612px, 100vw" %} {% endif %}
    <time datetime="{{ date }}">{{ date | dateFilter("full") }}</time>
    {{ content | safe }}
  </div>
</article>
{% endblock %}
