{% extends "layouts/base.html" %}
{% set pattern = "dark" %}
{% set headerCol = "light" %}
{% set title = 'Tag: ' + tag | slug %}
{% set metaDesc = "Browse posts filed under the '" + tag | slug + "' tag from the SheCodes blog." %}

{% set pageCriticalStyles = ['css/blog.css', 'css/tag.css'] %}

{% block content %}
  <article class="blog">
    {% include "partials/page-title.html" %}
    <div class="[ grid-12-col ] [ panel wrapper ] [ panel-space-major ]">
      {% set posts = collections[ tag ] %}
      <div class="[ tag-posts ] [ flow ]">
        {% include "partials/collections.html" %}
      </div>

      <div class="tag-archives">
        <h2 id="arc">Archives</h2>
        <hr class="divider divider--left-col">
        <ul class="list-archives" aria-labelledby="arc">
          {% for tag in collections.tagList %}
            <li class="[ divider-bottom ] [ panel ] [ panel-space-100 ]">
              <a href="/tag/{{ tag | slug }}/">
                <span class="number--secondary">{{ collections[ tag ] | length }}</span><span class="tag">{{ tag }}<span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </article>
{% endblock %}
