.grid-12-col {
  --inner-grid-gaps: calc(#{get-size('500')} * 11);
  --inner-col-width: calc((var(--layout-width) - var(--inner-grid-gaps))/10);
  display: grid;
  grid-gap: 0 get-size('500');
  grid-template-columns: minmax(0, 1fr) repeat(10, minmax(0, var(--inner-col-width))) minmax(0, 1fr);

  > * {
    grid-column: 2 / -2;
  }

  p {
    grid-column: 6 / -2;
  }

  h2:first-of-type {
    grid-column: 2 / span 4;
  }

  h2:not(:first-of-type) {
    border-bottom: 2px solid get-color('secondary');
  }

  time {
    grid-column: 2 / span 4;
    grid-row: 1;
  }

  .feature {
    grid-column: 6 / -2;
    grid-row: span 2;
    margin-top: 0;
  }

  .pullquote {
    grid-column: 2 / span 3;
    grid-row: span 2;
    position: relative;
    text-align: right;
    &:before {
      color: get-color('secondary');
      content: '\2019\2019';
      display: block;
      font-family: monotype;
      font-size: 60rem;
      left: -110px;
      letter-spacing: -6.25rem;
      position: absolute;
      top: -262px;
      opacity: 0.2;
      z-index: -1;
    }
  }
}
