.site-header {
  background-color: get-color('primary');
  background-image: url("/images/logo/damask-floral-overlay.png");
  background-size: 624px 578px;
  padding-bottom: get-size('600');
  padding-top: get-size('600');
}
