.logo {
	fill: get-color('light');
	padding-bottom: get-size('700');
	padding-top: get-size('700');

	.o {
		fill: get-color('secondary');
	}
}

.shecodes {
	display: none;
}

@include media-query('md') {
	.shecodes-stacked {
		display: none;
	}

	.shecodes {
		display: block;
		max-width: 70rem;
	}
}
