.skip-link {
  @include apply-utility('font', 'header');

  background-color: get-color('light');
  border: 4px solid get-color('secondary');
  color: get-color('dark');
  left: get-size('300');
  outline: 2px dotted get-color('light');
  outline-offset: 5px;
  padding: get-size('200') get-size('300');
  position: absolute;
  text-decoration: none;
  top: get-size('300');
  z-index: 100;

  &:not(:focus) {
    @extend .visually-hidden;
  }
}
