@import 'config';
// Set Gorko to output no CSS for this file
$outputTokenCSS: false;
@import '../../node_modules/gorko/gorko';

@import 'blocks/grid-12-col';
@import 'blocks/tags';

.blog {
	@include media-query('lg') {
		aside {
			padding-right: get-size('major');
			width: 40%;
		}

		.latest {
			display: flex;
		}

		.article__meta {
			width: 40%;
		}

		.article__content {
			margin-top: 0;
			padding-left: get-size('14');
			width: 60%;
		}

		.collection {
			float: right;
			padding-left: get-size('14');
			width: 60%;
		}
	}

	a {
		text-decoration: none;
	}

	h2 {
		@include apply-utility('font', 'heavy');

		display: inline;
	}

	h3 {
		@include apply-utility('font', 'header');
	}

	time {
		font-size: get-size('16');
	}

	ol {
		counter-reset: post-counter;
		grid-column: 6 / -2;

		> li {
			display: flex;
		}

		> li:last-child {
			border-bottom-style: none;
		}

		> li::before {
			align-items: center;
			background-clip: content-box;
			background-color: get-color('primary');
			border: 2px solid get-color('secondary');
			border-radius: 50%;
			color: get-color('light');
			content: counter(post-counter);
			counter-increment: post-counter;
			display: flex;
			flex-shrink: 0;
			font-size: get-size('25');
			font-style: italic;
			height: 6rem;
			justify-content: center;
			letter-spacing: 0.35rem;
			margin-right: get-size('16');
			padding: get-size('minor');
			width: 6rem;
		}
	}

	.cat-header {
		text-transform: capitalize;
	}

	.divider {
		// applied to <hr>
		background-color: get-color('dark-tint');
		border-style: none;
		height: 1px;
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
	}

	.divider-bottom {
		// applied to <li>
		border-bottom: solid 1px get-color('dark-tint');
	}

	.grid-12-col {
		padding-bottom: get-size('major');
	}

	.latest {
		header {
			align-items: center;
			display: flex;
		}

		span {
			margin-right: get-size('16');
		}
	}

	.latest__heading {
		font-size: get-size('32');
	}

	.latest__image {
		display: block;

		img {
			object-fit: cover;
		}
	}

	.list-archives {
		text-transform: capitalize;

		a {
			align-items: center;
			display: flex;
			justify-content: space-between;
		}

		.tag {
			flex: 1 0 auto;
			padding-left: get-size('16');
		}
	}

	.latest__heading a,
	.post-link {
		&:hover,
		&:focus {
			text-decoration: underline;
			text-decoration-style: dotted;
		}
	}

	.number--primary {
		align-items: center;
		background-clip: content-box;
		background-color: get-color('primary');
		border-radius: 50%;
		color: get-color('light');
		display: inline-flex;
		font-size: get-size('25');
		font-style: italic;
		height: 6rem;
		justify-content: center;
		letter-spacing: 0.35rem;
		padding: get-size('minor');
		width: 6rem;

		&.outline {
			border: 2px solid get-color('secondary');
		}
	}

	.number--secondary {
		align-items: center;
		background-color: get-color('secondary-tint');
		border-radius: 50%;
		display: flex;
		font-size: get-size('25');
		font-style: italic;
		height: 4rem;
		justify-content: center;
		padding: 0.75rem;
		width: 4rem;
	}

	.tags-wrapper {
		padding-bottom: get-size('32');
		padding-top: get-size('20');
	}
}
