@import 'config';
// Set Gorko to output no CSS for this file
$outputTokenCSS: false;
@import '../../node_modules/gorko/gorko.scss';

@import 'blocks/grid-12-col';
@import 'blocks/tags';

.blog {
  a {
    text-decoration: none;
    h3 {
      color: get-color('primary');
    }
  }

  h2 {
    @include apply-utility('font', 'heavy');
  }

  h3 {
    @include apply-utility('font', 'header');
  }

  li:last-child {
    border-bottom: none;
  }

  time {
    font-size: get-size('200');
  }

  ol {
    counter-reset: post-counter;
    grid-column: 6 / -2;

    > li {
      display: flex;
      &::before {
        align-items: center;
        background-clip: content-box;
        background-color: get-color('primary');
        border: 2px solid get-color('secondary');
        border-radius: 50%;
        color: get-color('light');
        content: counter(post-counter);
        counter-increment: post-counter;
        display: flex;
        flex-shrink: 0;
        font-size: get-size('600');
        font-style: italic;
        height: 6rem;
        justify-content: center;
        letter-spacing: 0.35rem;
        margin-right: get-size('200');
        padding: get-size('minor');
        width: 6rem;
      }
    }
  }

  #arc {
    grid-column: 2 / span 3;
    grid-row-start: 5;
  }

  .cat-header {
    grid-column: 6 / -1;
    text-transform: capitalize;
  }

  .divider { // applied to <hr>
    background-color: get-color('dark-tint');
    border: none;
    height: 1px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .divider-bottom { // applied to <li>
    border-bottom: solid 1px get-color('dark-tint');
  }

  .divider--left-col {
    grid-column: 1 / span 4;
    grid-row-start: 6;
  }

  .divider--right-col {
    grid-column: 6 / -1;
  }

  .divider--vertical {
    grid-column-start: 5;
    grid-row: 2 / span 6;
    height: 100%;
    justify-self: center;
    width: 1px;
  }

  .grid-12-col {
    padding-bottom: get-size('major');
  }

  .latest {
    grid-column: 2 / span 3;
    grid-row: span 4;

    header {
      display: flex;
      align-items: center;
      span {
        margin-right: get-size('200');
      }
    }
  }

  .latest__heading {
    font-size: get-size('800');
  }

  .latest__image {
    grid-column: 5 / -2;
    margin-top: 0;
  }

  .list-archives {
    grid-column: 2 / span 3;
    grid-row-start: 7;
    text-transform: uppercase;

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .tag {
      flex: 1 0 auto;
      padding-left: get-size('200');
    }
  }

  .number--primary {
    align-items: center;
    background-clip: content-box;
    background-color: get-color('primary');
    border-radius: 50%;
    color: get-color('light');
    display: flex;
    font-size: get-size('600');
    font-style: italic;
    height: 6rem;
    justify-content: center;
    letter-spacing: 0.35rem;
    padding: get-size('minor');
    width: 6rem;

    &.outline {
      border: 2px solid get-color('secondary');
    }
  }

  .number--secondary {
    align-items: center;
    background-color: get-color('secondary-tint');
    border-radius: 50%;
    display: flex;
    font-size: get-size('600');
    font-style: italic;
    height: 4rem;
    justify-content: center;
    padding: 0.75rem;
    width: 4rem;
  }

  .tags-wrapper {
    padding-bottom: get-size('800');
    padding-top: get-size('400');
  }
}
