@import 'fonts';
@import 'config';
@import '../../node_modules/gorko/gorko.scss';
@import 'reset';

// Global styles
:root {
  --flow-space: #{get-size('700')};
  --layout-width: 92.8rem;
  font-size: 62.5%;
}

body {
  background-color: get-color('light');
  color: get-color('dark');
  font-size: get-size('400');
  line-height: 1.5;
  letter-spacing: -1.6px;
  word-spacing: -1.1px;
  font-family: Arial, sans-serif;
}

:focus,
a:hover {
  outline: 2px dotted var(--focus-color, get-color('light'));
  outline-offset: get-size('minor');
}

a:not([class]) {
  color: currentColor;
  text-decoration-color: get-color('primary');
}

h1 {
  font-family: monospace;
}

h2,
h3,
h4 {
  font-family: Arial;
}

h1,
h2 {
  font-size: get-size('800');
  letter-spacing: -0.5px;
  word-spacing: 0.15px;
}

h2 {
  color: get-color('primary');
}

.fonts-loaded {
  body {
    letter-spacing: 0.1px;
    word-spacing: 0;
    @include apply-utility('font', 'base');
  }
  h1,
  h2,
  h3,
  h4 {
    letter-spacing: 0;
    word-spacing: 0;
  }
  h1 {
    @include apply-utility('font', 'header');
  }
  h2,
  h3,
  h4 {
    font-weight: lighter;
    @include apply-utility('font', 'base');
  }
}


// Import blocks using @import 'blocks/<file-name>';
@import 'blocks/footer';
@import 'blocks/logo';
@import 'blocks/nav';
@import 'blocks/skip-link';

// Import utilities using @import 'utilities/<file-name>';
@import 'utilities/colour-contrast';
@import 'utilities/flow';
@import 'utilities/panel';
@import 'utilities/patterned';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';
