@import 'fonts';
@import 'config';
@import '../../node_modules/gorko/gorko.scss';
@import 'reset';

// Global styles
:root {
  --flow-space: #{get-size('600')};
}

body {
  background-color: get-color('light');
  color: get-color('dark');
  font-size: get-size('500');
  line-height: 1.5;
  letter-spacing: -1.6px;
  word-spacing: -1.1px;
  font-family: Arial, sans-serif;
}

:focus,
a:hover {
  box-shadow: 0 0 0 1px #{get-color(light)};
  outline: 2px dotted #{get-color(secondary)};
  outline-offset: #{get-size('100')};
}

a:not([class]) {
  color: currentColor;
  text-decoration-color: get-color('primary');
}

h1,
h2,
h3,
h4 {
  font-family: monospace;
}

h1,
h2 {
  font-size: 34px;
  letter-spacing: -0.5px;
  word-spacing: 0.15px;
}

.fonts-loaded {
  body {
    letter-spacing: 0.1px;
    word-spacing: 0;
    @include apply-utility('font', 'base');
  }
  h1,
  h2,
  h3,
  h4 {
    letter-spacing: 0;
    word-spacing: 0;
    @include apply-utility('font', 'header');
  }
}


// Import blocks using @import 'blocks/<file-name>';
@import 'blocks/footer';
@import 'blocks/logo';
@import 'blocks/nav';
@import 'blocks/skip-link';

// Import utilities using @import 'utilities/<file-name>';
@import 'utilities/flow';
@import 'utilities/panel';
@import 'utilities/patterned';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';
