@import 'config';
// Set Gorko to output no CSS for this file
$outputTokenCSS: false;
@import '../../node_modules/gorko/gorko.scss';

@import 'blocks/tags';
@import 'blocks/grid-12-col';

.post {
  padding-bottom: get-size('major');

  dt {
    border-bottom: 2px solid get-color('secondary');
    font-size: get-size('500');
    font-weight: bold;
  }

  h2 {
    @include apply-utility('font', 'header');
  }

  h2:not(:first-of-type) {
    border-bottom: 2px solid get-color('secondary');
  }

  em {
    color: get-color('primary');
    font-weight: bold;
  }

  time {
    display: block;
  }

  .feature {
    margin-top: 0;
    margin-left: -#{get-size('500')};
    max-width: 100vw;
  }

  .pullquote{
    display: block;
    position: relative;
    font-weight: bold;
    &:before {
      color: get-color('secondary');
      content: '\2019\2019';
      display: block;
      font-family: monotype;
      font-size: 60rem;
      left: -110px;
      letter-spacing: -6.25rem;
      position: absolute;
      top: -262px;
      opacity: 0.2;
      z-index: -1;
    }

    &.repeated {
      display: none;
    }
  }

  @include media-query('md') {

    .feature {
      margin-left: 0;
      max-width: 100%;
    }

    .pullquote {
      text-align: right;

      &.repeated {
        display: block;
      }
    }
  }
}
