{% if not pattern %}
	{% set pattern = "light" %}
{% endif %}

<a class="skip-link" href="#main-content">Skip to content</a>
<header class="[ site-header ] [ panel patterned-{{ pattern }} a11y-bg-{{ headerCol }} ]">
	<div class="wrapper">
		<nav class="nav" aria-label="Primary">
			<ul class="nav__list">
				{% for link in navigation_primary.links %}
					<li>
						<a href="{{ link.url }}" {{ helpers.getLinkActiveState(link.url, page.url) | safe }}>
							{{ link.text }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</nav>

		{% if headerType === "home" %}
			{% include "../../images/logo/shecodes-logo-stacked.svg" %}
			{% include "../../images/logo/shecodes-logo.svg" %}
		{% endif %}
	</div>
</header>
