{% set pageTitle = title + ' | ' + site.name %}

{# We don't want any duplication. This is likely for the home page. #}
{% if site.name === title %}
	{% set pageTitle = title %}
{% endif %}

{% set siteTitle = site.name %}
{% set currentUrl = site.url + page.url %}

{% if socialImage %}
	{% set socialImageLink = site.url + '/images/' + socialImage + '-1280.jpg' %}
{% else %}
  {% set socialImageLink = site.url + '/images/static/meta/nathalie-christmann-cooper.png' %}
{% endif %}

{% if metaTitle %}
	{% set pageTitle = metaTitle %}
{% endif %}

{% if not metaDesc %}
	{% set metaDesc = summary %}
{% endif %}

<link rel="canonical" href="{{ currentUrl }}" />

<meta property="og:site_name" content="{{ siteTitle }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ currentUrl }}" />

{% if socialImageLink %}
	<meta name="twitter:card" content="summary_large_image" />
	<meta property="og:image" content="{{ socialImageLink }}" />
	<meta name="twitter:image" content="{{ socialImageLink }}" />
	<meta property="og:image:alt" content="Page image for {{ site.name }}" />
	<meta name="twitter:image:alt" content="Page image for {{ site.name }}" />
{% endif %}


<meta name="description" content="{{ metaDesc }}" />
<meta name="twitter:description" content="{{ metaDesc }}" />
<meta property="og:description" content="{{ metaDesc }}" />


<link
	rel="apple-touch-icon"
	sizes="180x180"
	href="/images/static/meta/apple-touch-icon.png"
/>
<link
	rel="icon"
	type="image/png"
	sizes="32x32"
	href="/images/static/meta/favicon-32x32.png"
/>
<link
	rel="icon"
	type="image/png"
	sizes="16x16"
	href="/images/static/meta/favicon-16x16.png"
/>
<link rel="manifest" href="/images/static/meta/site.webmanifest" />
<link
	rel="mask-icon"
	href="/images/static/meta/safari-pinned-tab.svg"
	color="#910a55"
/>
<meta name="msapplication-TileColor" content="#910a55" />
<meta name="theme-color" content="#eae7d9" />
