{% if not pageHeaderColor %} {% set pageHeaderColor = "secondary" %} {% endif %}

<header class="[ panel a11y-bg-{{ pageHeaderColor }} ]">
  <h1 class="wrapper">{{ title }}</h1>
  {% if pageHeaderSummary %} {{ pageHeaderSummary | safe }} {% endif %}
</header>
